# Explore the Dataset
## Iowa Liquor Sales from Kaggle
### https://www.kaggle.com/residentmario/iowa-liquor-sales

To be able to ETL this file we need to get information about. This file is quite challenging since its ~3.5GB and +12 Millions rows to wrangle.

First we need to get informations about the data type of each columns. We can work on the first 20 rows to get insight then refine some observation.

In [1]:
# install and import some useful librairies
!conda install -y pandas
import pandas as pd
import time

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [2]:
# set some pandas default values to display every information
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
# import os
# notebook_path = os.path.abspath("Explore_dataset.ipynb")
df_sample = pd.read_csv('./dataset/dataset.csv', nrows=20)
print(df_sample.head(20))
print(df_sample.dtypes)

   Invoice/Item Number        Date  Store Number  \
0         S29198800001  11/20/2015          2191
1         S29195400002  11/21/2015          2205
2         S29050300001  11/16/2015          3549
3         S28867700001  11/04/2015          2513
4         S29050800001  11/17/2015          3942
5         S28869200001  11/11/2015          3650
6         S28865700001  11/09/2015          2538
7         S28869500001  11/10/2015          3942
8         S29339300091  11/30/2015          2662
9         S29050900001  11/16/2015          4307
10        S29049900001  11/17/2015          2661
11        S28868200001  11/05/2015          2561
12        S28869600001  11/09/2015          4114
13        S28866900001  11/11/2015          3650
14        S29050100001  11/19/2015          2806
15        S29049600001  11/17/2015          2624
16        S28868400001  11/04/2015          2572
17        S29196300002  11/24/2015          2595
18        S29134300126  11/18/2015          3723
19        S28869000001  11/10/2015          2665

                           Store Name                  Address          City  \
0                      Keokuk Spirits                1013 MAIN        KEOKUK
1              Ding's Honk And Holler         900 E WASHINGTON      CLARINDA
2                Quicker Liquor Store             1414 48TH ST  FORT MADISON
3    Hy-Vee Food Store #2 / Iowa City           812  S 1ST AVE     IOWA CITY
4                    Twin Town Liquor      104 HIGHWAY 30 WEST        TOLEDO
5          Spirits, Stogies and Stuff       118 South Main St.      HOLSTEIN
6     Hy-Vee Food Store #3 / Waterloo         1422 FLAMMANG DR      WATERLOO
7                    Twin Town Liquor      104 HIGHWAY 30 WEST        TOLEDO
8   Hy-Vee Wine & Spirits / Muscatine    522 MULBERRY, SUITE A     MUSCATINE
9          Crossroads Wine and Liquor             117 IOWA AVE        DUNLAP
10        Hy-Vee Food Store / Sheldon             1989 PARK ST       SHELDON
11    Hy-Vee Food Store / Fleur / DSM         4605 FLEUR DRIVE    DES MOINES
12                  After 5 Somewhere  704 W 7TH ST PO BOX 372      ATLANTIC
13         Spirits, Stogies and Stuff       118 South Main St.      HOLSTEIN
14                Osco #881 / Clinton            1307 N SECOND       CLINTON
15                Hy-Vee #2 / Dubuque      2395 NW ARTERIAL RD       DUBUQUE
16    Hy-Vee Food Store / Cedar Falls          6301 UNIVERSITY   CEDAR FALLS
17  Hy-Vee Wine and Spirits / Denison     1620  4TH AVE, SOUTH       DENISON
18                 J D Spirits Liquor             1023  9TH ST         ONAWA
19                    Hy-Vee / Waukee        1005 E HICKMAN RD        WAUKEE

   Zip Code                                     Store Location  County Number  \
0     52632    1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)             56
1     51632  900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...             73
2     52627  1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...             56
3     52240                   812 S 1ST AVE\nIOWA CITY 52240\n             52
4     52342  104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...             86
5     51025  118 South Main St.\nHOLSTEIN 51025\n(42.490073...             47
6     50702  1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...              7
7     52342  104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...             86
8     52761           522 MULBERRY, SUITE A\nMUSCATINE 52761\n             70
9     712-2  117 IOWA AVE\nDUNLAP 712-2\n(41.854728, -95.60...             43
10    51201  1989 PARK ST\nSHELDON 51201\n(43.186038, -95.8...             71
11    50321  4605 FLEUR DRIVE\nDES MOINES 50321\n(41.542816...             77
12    50022  704 W 7TH ST PO BOX 372\nATLANTIC 50022\n(41.4...             15
13    51025  118 South Main St.\nHOLSTEIN 51025\n(42.490073...             47
14    52732  1307 N SECOND\nCLINTON 52732\n(41.858483, -90....             23
15    52002  2395 NW ARTERIAL RD\nDUBUQUE 52002\n(42.516621...             31
16    50613  6301 UNIVERSITY\nCEDAR FALLS 50613\n(42.512771...              7
17    51442  1620 4TH AVE, SOUTH\nDENISON 51442\n(42.012395...             24
18    51040  1023 9TH ST\nONAWA 51040\n(42.025841, -96.095845)             67
19    50263  1005 E HICKMAN RD\nWAUKEE 50263\n(41.614909, -...             25

        County   Category                   Category Name  Vendor Number  \
0          Lee        NaN                             NaN            255
1         Page        NaN                             NaN            255
2          Lee        NaN                             NaN            130
3      Johnson        NaN                             NaN             65
4         Tama        NaN                             NaN            130
5          Ida        NaN                             NaN             65
6   Black Hawk  1701100.0  DECANTERS & SPECIALTY PACKAGES            962
7         Tama        NaN                             NaN             65
8    Muscatine  1701100.0  DECANTERS & SPECIALTY PACKAGES             65
9     Harrison        NaN                             NaN            130
10     O'Brien        NaN                             NaN            130
11        Polk        NaN                             NaN             65
12        Cass        NaN                             NaN             65
13         Ida  1701100.0  DECANTERS & SPECIALTY PACKAGES            962
14     Clinton        NaN                             NaN            130
15     Dubuque        NaN                             NaN            130
16  Black Hawk        NaN                             NaN             65
17    Crawford        NaN                             NaN            255
18      Monona  1081200.0                  CREAM LIQUEURS            305
19      Dallas        NaN                             NaN             65

                          Vendor Name  Item Number  \
0                 Wilson Daniels Ltd.          297
1                 Wilson Daniels Ltd.          297
2         Disaronno International LLC          249
3                     Jim Beam Brands          237
4         Disaronno International LLC          249
5                     Jim Beam Brands          237
6   Duggan's Distillers Products Corp          238
7                     Jim Beam Brands          237
8                     Jim Beam Brands          173
9         Disaronno International LLC          249
10        Disaronno International LLC          249
11                    Jim Beam Brands          237
12                    Jim Beam Brands          237
13  Duggan's Distillers Products Corp          238
14        Disaronno International LLC          249
15        Disaronno International LLC          249
16                    Jim Beam Brands          237
17                Wilson Daniels Ltd.          297
18                            MHW Ltd          258
19                    Jim Beam Brands          237

                                 Item Description  Pack  Bottle Volume (ml)  \
0                           Templeton Rye w/Flask     6                 750
1                           Templeton Rye w/Flask     6                 750
2   Disaronno Amaretto Cavalli Mignon 3-50ml Pack    20                 150
3                  Knob Creek w/ Crystal Decanter     3                1750
4   Disaronno Amaretto Cavalli Mignon 3-50ml Pack    20                 150
5                  Knob Creek w/ Crystal Decanter     3                1750
6                    Forbidden Secret Coffee Pack     6                1500
7                  Knob Creek w/ Crystal Decanter     3                1750
8                     Laphroaig w/ Whiskey Stones    12                 750
9   Disaronno Amaretto Cavalli Mignon 3-50ml Pack    20                 150
10  Disaronno Amaretto Cavalli Mignon 3-50ml Pack    20                 150
11                 Knob Creek w/ Crystal Decanter     3                1750
12                 Knob Creek w/ Crystal Decanter     3                1750
13                   Forbidden Secret Coffee Pack     6                1500
14  Disaronno Amaretto Cavalli Mignon 3-50ml Pack    20                 150
15  Disaronno Amaretto Cavalli Mignon 3-50ml Pack    20                 150
16                 Knob Creek w/ Crystal Decanter     3                1750
17                          Templeton Rye w/Flask     6                 750
18                            Rumchata "GoChatas"     1                6000
19                 Knob Creek w/ Crystal Decanter     3                1750

   State Bottle Cost State Bottle Retail  Bottles Sold Sale (Dollars)  \
0             $18.09              $27.14             6        $162.84
1             $18.09              $27.14            12        $325.68
2              $6.40               $9.60             2         $19.20
3             $35.55              $53.34             3        $160.02
4              $6.40               $9.60             2         $19.20
5             $35.55              $53.34             1         $53.34
6             $11.62              $17.43             6        $104.58
7             $35.55              $53.34             2        $106.68
8             $19.58              $29.37             4        $117.48
9              $6.40               $9.60             2         $19.20
10             $6.40               $9.60            20        $192.00
11            $35.55              $53.34             2        $106.68
12            $35.55              $53.34             3        $160.02
13            $11.62              $17.43             1         $17.43
14             $6.40               $9.60            20        $192.00
15             $6.40               $9.60            20        $192.00
16            $35.55              $53.34             3        $160.02
17            $18.09              $27.14             6        $162.84
18            $99.00             $148.50             1        $148.50
19            $35.55              $53.34             2        $106.68

    Volume Sold (Liters)  Volume Sold (Gallons)
0                   4.50                   1.19
1                   9.00                   2.38
2                   0.30                   0.08
3                   5.25                   1.39
4                   0.30                   0.08
5                   1.75                   0.46
6                   9.00                   2.38
7                   3.50                   0.92
8                   3.00                   0.79
9                   0.30                   0.08
10                  3.00                   0.79
11                  3.50                   0.92
12                  5.25                   1.39
13                  1.50                   0.40
14                  3.00                   0.79
15                  3.00                   0.79
16                  5.25                   1.39
17                  4.50                   1.19
18                  6.00                   1.59
19                  3.50                   0.92
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number              int64
County                    object
Category                 float64
Category Name             object
Vendor Number              int64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost         object
State Bottle Retail       object
Bottles Sold               int64
Sale (Dollars)            object
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

From this sample I can start to come to some conclusion.

1. I can identify the column's name easily and start guessing the data type of eac columns. That will speed up the reading of the full dataset later.
2. The column 'Invoice/Item Number' seems to be a unique identifier that I can use for each rows. Change the name of the colum to be `id` (step 2b).
3. 'Date' is obviously a date format that I have to convert from `string/object` to `datetime`. I could also try to find the `min()` and `max()` values to know the range of date we are dealing with (step 3b).
4. 'ZipCode' is automaticaly typed as `object` because despite most of the data look like a numeric value, as attended, we have row 9: `712-2`. I quick search on my favourite search engine [Qwant](www.qwant.com) shows me that it's an Area Code. I will then consider `NaN` a non numeric value in this column.
5. Since there is some errors to handle on the address columns, I will not take the values in `Store Location` for granted and use the [Geocoding Google API](https://developers.google.com/maps/documentation/geocoding/intro) to create a `Lat`, `Lon` columns with the right values in the ETL process.
6. `Category` column is set as a float but on the sample we can only see integer like number, I have to explore this to optimize the memory spended. I also note that there will be `NaN` to handle here.
7. For future calculation it's going to be easier if the currency value is treated as numeric. I need to get rid of the dollard sign and convert the value as cents to handle integer instead of float (Bank and fintech use this optimization to handle billions of transaction with less memory used).
8. We have the bottle volume as **ml** (mililiter) and we have total `Volume Sold` in both **liters** and **gallons**. I prefer to use the [SI](https://en.wikipedia.org/wiki/International_System_of_Units) units for more convinence. So I will get rid of the extra column in **gallon**'s unit and convert the **liter** unit to **ml** for the same reason as the currency column's values.

Let try to do this 8 steps (not necesseraly in this order) on this sample data. That will be useful for the final ETL in a wrangling step.

In [4]:
from pandas import UInt32Dtype

# step 2
df_sample.set_index("Invoice/Item Number", inplace=True)
# df_sample.rename(columns = {'Invoice/Item Number':'id'}, inplace = True)
# step 3
df_sample['Date'] = pd.to_datetime(df_sample['Date'], infer_datetime_format=True)
# step 4
df_sample['Zip Code'] = pd.to_numeric(df_sample['Zip Code'], errors='coerce')
# step 6 - done on the sample but needed to verify on the full dataset later - unsigned int 32 seems to be enought
df_sample.astype({'Category': UInt32Dtype()})
# step 7.1 - need to build function in the ETL to factorize this.
df_sample['State Bottle Cost'] = df_sample['State Bottle Cost'].str.slice(1)
df_sample['State Bottle Cost'] = pd.to_numeric(df_sample['State Bottle Cost'])
df_sample['State Bottle Cost'] = df_sample['State Bottle Cost'].multiply(100)
# step 7.2
df_sample['State Bottle Retail'] = df_sample['State Bottle Retail'].str.slice(1)
df_sample['State Bottle Retail'] = pd.to_numeric(df_sample['State Bottle Retail'])
df_sample['State Bottle Retail'] = df_sample['State Bottle Retail'].multiply(100)
# step 7.3
df_sample['Sale (Dollars)'] = df_sample['Sale (Dollars)'].str.slice(1)
df_sample['Sale (Dollars)'] = pd.to_numeric(df_sample['Sale (Dollars)'])
df_sample['Sale (Dollars)'] = df_sample['Sale (Dollars)'].multiply(100)
# step 8
df_sample['Volume Sold (Liters)'] = df_sample['Volume Sold (Liters)'].multiply(100)
df_sample.drop(columns=['Volume Sold (Gallons)'])


print(df_sample.head(20))
print(df_sample.dtypes)

                          Date  Store Number  \
Invoice/Item Number
S29198800001        2015-11-20          2191
S29195400002        2015-11-21          2205
S29050300001        2015-11-16          3549
S28867700001        2015-11-04          2513
S29050800001        2015-11-17          3942
S28869200001        2015-11-11          3650
S28865700001        2015-11-09          2538
S28869500001        2015-11-10          3942
S29339300091        2015-11-30          2662
S29050900001        2015-11-16          4307
S29049900001        2015-11-17          2661
S28868200001        2015-11-05          2561
S28869600001        2015-11-09          4114
S28866900001        2015-11-11          3650
S29050100001        2015-11-19          2806
S29049600001        2015-11-17          2624
S28868400001        2015-11-04          2572
S29196300002        2015-11-24          2595
S29134300126        2015-11-18          3723
S28869000001        2015-11-10          2665

                                            Store Name  \
Invoice/Item Number
S29198800001                            Keokuk Spirits
S29195400002                    Ding's Honk And Holler
S29050300001                      Quicker Liquor Store
S28867700001          Hy-Vee Food Store #2 / Iowa City
S29050800001                          Twin Town Liquor
S28869200001                Spirits, Stogies and Stuff
S28865700001           Hy-Vee Food Store #3 / Waterloo
S28869500001                          Twin Town Liquor
S29339300091         Hy-Vee Wine & Spirits / Muscatine
S29050900001                Crossroads Wine and Liquor
S29049900001               Hy-Vee Food Store / Sheldon
S28868200001           Hy-Vee Food Store / Fleur / DSM
S28869600001                         After 5 Somewhere
S28866900001                Spirits, Stogies and Stuff
S29050100001                       Osco #881 / Clinton
S29049600001                       Hy-Vee #2 / Dubuque
S28868400001           Hy-Vee Food Store / Cedar Falls
S29196300002         Hy-Vee Wine and Spirits / Denison
S29134300126                        J D Spirits Liquor
S28869000001                           Hy-Vee / Waukee

                                     Address          City  Zip Code  \
Invoice/Item Number
S29198800001                       1013 MAIN        KEOKUK   52632.0
S29195400002                900 E WASHINGTON      CLARINDA   51632.0
S29050300001                    1414 48TH ST  FORT MADISON   52627.0
S28867700001                  812  S 1ST AVE     IOWA CITY   52240.0
S29050800001             104 HIGHWAY 30 WEST        TOLEDO   52342.0
S28869200001              118 South Main St.      HOLSTEIN   51025.0
S28865700001                1422 FLAMMANG DR      WATERLOO   50702.0
S28869500001             104 HIGHWAY 30 WEST        TOLEDO   52342.0
S29339300091           522 MULBERRY, SUITE A     MUSCATINE   52761.0
S29050900001                    117 IOWA AVE        DUNLAP       NaN
S29049900001                    1989 PARK ST       SHELDON   51201.0
S28868200001                4605 FLEUR DRIVE    DES MOINES   50321.0
S28869600001         704 W 7TH ST PO BOX 372      ATLANTIC   50022.0
S28866900001              118 South Main St.      HOLSTEIN   51025.0
S29050100001                   1307 N SECOND       CLINTON   52732.0
S29049600001             2395 NW ARTERIAL RD       DUBUQUE   52002.0
S28868400001                 6301 UNIVERSITY   CEDAR FALLS   50613.0
S29196300002            1620  4TH AVE, SOUTH       DENISON   51442.0
S29134300126                    1023  9TH ST         ONAWA   51040.0
S28869000001               1005 E HICKMAN RD        WAUKEE   50263.0

                                                        Store Location  \
Invoice/Item Number
S29198800001           1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)
S29195400002         900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...
S29050300001         1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...
S28867700001                          812 S 1ST AVE\nIOWA CITY 52240\n
S29050800001         104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...
S28869200001         118 South Main St.\nHOLSTEIN 51025\n(42.490073...
S28865700001         1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...
S28869500001         104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...
S29339300091                  522 MULBERRY, SUITE A\nMUSCATINE 52761\n
S29050900001         117 IOWA AVE\nDUNLAP 712-2\n(41.854728, -95.60...
S29049900001         1989 PARK ST\nSHELDON 51201\n(43.186038, -95.8...
S28868200001         4605 FLEUR DRIVE\nDES MOINES 50321\n(41.542816...
S28869600001         704 W 7TH ST PO BOX 372\nATLANTIC 50022\n(41.4...
S28866900001         118 South Main St.\nHOLSTEIN 51025\n(42.490073...
S29050100001         1307 N SECOND\nCLINTON 52732\n(41.858483, -90....
S29049600001         2395 NW ARTERIAL RD\nDUBUQUE 52002\n(42.516621...
S28868400001         6301 UNIVERSITY\nCEDAR FALLS 50613\n(42.512771...
S29196300002         1620 4TH AVE, SOUTH\nDENISON 51442\n(42.012395...
S29134300126         1023 9TH ST\nONAWA 51040\n(42.025841, -96.095845)
S28869000001         1005 E HICKMAN RD\nWAUKEE 50263\n(41.614909, -...

                     County Number      County   Category  \
Invoice/Item Number
S29198800001                    56         Lee        NaN
S29195400002                    73        Page        NaN
S29050300001                    56         Lee        NaN
S28867700001                    52     Johnson        NaN
S29050800001                    86        Tama        NaN
S28869200001                    47         Ida        NaN
S28865700001                     7  Black Hawk  1701100.0
S28869500001                    86        Tama        NaN
S29339300091                    70   Muscatine  1701100.0
S29050900001                    43    Harrison        NaN
S29049900001                    71     O'Brien        NaN
S28868200001                    77        Polk        NaN
S28869600001                    15        Cass        NaN
S28866900001                    47         Ida  1701100.0
S29050100001                    23     Clinton        NaN
S29049600001                    31     Dubuque        NaN
S28868400001                     7  Black Hawk        NaN
S29196300002                    24    Crawford        NaN
S29134300126                    67      Monona  1081200.0
S28869000001                    25      Dallas        NaN

                                      Category Name  Vendor Number  \
Invoice/Item Number
S29198800001                                    NaN            255
S29195400002                                    NaN            255
S29050300001                                    NaN            130
S28867700001                                    NaN             65
S29050800001                                    NaN            130
S28869200001                                    NaN             65
S28865700001         DECANTERS & SPECIALTY PACKAGES            962
S28869500001                                    NaN             65
S29339300091         DECANTERS & SPECIALTY PACKAGES             65
S29050900001                                    NaN            130
S29049900001                                    NaN            130
S28868200001                                    NaN             65
S28869600001                                    NaN             65
S28866900001         DECANTERS & SPECIALTY PACKAGES            962
S29050100001                                    NaN            130
S29049600001                                    NaN            130
S28868400001                                    NaN             65
S29196300002                                    NaN            255
S29134300126                         CREAM LIQUEURS            305
S28869000001                                    NaN             65

                                           Vendor Name  Item Number  \
Invoice/Item Number
S29198800001                       Wilson Daniels Ltd.          297
S29195400002                       Wilson Daniels Ltd.          297
S29050300001               Disaronno International LLC          249
S28867700001                           Jim Beam Brands          237
S29050800001               Disaronno International LLC          249
S28869200001                           Jim Beam Brands          237
S28865700001         Duggan's Distillers Products Corp          238
S28869500001                           Jim Beam Brands          237
S29339300091                           Jim Beam Brands          173
S29050900001               Disaronno International LLC          249
S29049900001               Disaronno International LLC          249
S28868200001                           Jim Beam Brands          237
S28869600001                           Jim Beam Brands          237
S28866900001         Duggan's Distillers Products Corp          238
S29050100001               Disaronno International LLC          249
S29049600001               Disaronno International LLC          249
S28868400001                           Jim Beam Brands          237
S29196300002                       Wilson Daniels Ltd.          297
S29134300126                                   MHW Ltd          258
S28869000001                           Jim Beam Brands          237

                                                  Item Description  Pack  \
Invoice/Item Number
S29198800001                                 Templeton Rye w/Flask     6
S29195400002                                 Templeton Rye w/Flask     6
S29050300001         Disaronno Amaretto Cavalli Mignon 3-50ml Pack    20
S28867700001                        Knob Creek w/ Crystal Decanter     3
S29050800001         Disaronno Amaretto Cavalli Mignon 3-50ml Pack    20
S28869200001                        Knob Creek w/ Crystal Decanter     3
S28865700001                          Forbidden Secret Coffee Pack     6
S28869500001                        Knob Creek w/ Crystal Decanter     3
S29339300091                           Laphroaig w/ Whiskey Stones    12
S29050900001         Disaronno Amaretto Cavalli Mignon 3-50ml Pack    20
S29049900001         Disaronno Amaretto Cavalli Mignon 3-50ml Pack    20
S28868200001                        Knob Creek w/ Crystal Decanter     3
S28869600001                        Knob Creek w/ Crystal Decanter     3
S28866900001                          Forbidden Secret Coffee Pack     6
S29050100001         Disaronno Amaretto Cavalli Mignon 3-50ml Pack    20
S29049600001         Disaronno Amaretto Cavalli Mignon 3-50ml Pack    20
S28868400001                        Knob Creek w/ Crystal Decanter     3
S29196300002                                 Templeton Rye w/Flask     6
S29134300126                                   Rumchata "GoChatas"     1
S28869000001                        Knob Creek w/ Crystal Decanter     3

                     Bottle Volume (ml)  State Bottle Cost  \
Invoice/Item Number
S29198800001                        750             1809.0
S29195400002                        750             1809.0
S29050300001                        150              640.0
S28867700001                       1750             3555.0
S29050800001                        150              640.0
S28869200001                       1750             3555.0
S28865700001                       1500             1162.0
S28869500001                       1750             3555.0
S29339300091                        750             1958.0
S29050900001                        150              640.0
S29049900001                        150              640.0
S28868200001                       1750             3555.0
S28869600001                       1750             3555.0
S28866900001                       1500             1162.0
S29050100001                        150              640.0
S29049600001                        150              640.0
S28868400001                       1750             3555.0
S29196300002                        750             1809.0
S29134300126                       6000             9900.0
S28869000001                       1750             3555.0

                     State Bottle Retail  Bottles Sold  Sale (Dollars)  \
Invoice/Item Number
S29198800001                      2714.0             6         16284.0
S29195400002                      2714.0            12         32568.0
S29050300001                       960.0             2          1920.0
S28867700001                      5334.0             3         16002.0
S29050800001                       960.0             2          1920.0
S28869200001                      5334.0             1          5334.0
S28865700001                      1743.0             6         10458.0
S28869500001                      5334.0             2         10668.0
S29339300091                      2937.0             4         11748.0
S29050900001                       960.0             2          1920.0
S29049900001                       960.0            20         19200.0
S28868200001                      5334.0             2         10668.0
S28869600001                      5334.0             3         16002.0
S28866900001                      1743.0             1          1743.0
S29050100001                       960.0            20         19200.0
S29049600001                       960.0            20         19200.0
S28868400001                      5334.0             3         16002.0
S29196300002                      2714.0             6         16284.0
S29134300126                     14850.0             1         14850.0
S28869000001                      5334.0             2         10668.0

                     Volume Sold (Liters)  Volume Sold (Gallons)
Invoice/Item Number
S29198800001                        450.0                   1.19
S29195400002                        900.0                   2.38
S29050300001                         30.0                   0.08
S28867700001                        525.0                   1.39
S29050800001                         30.0                   0.08
S28869200001                        175.0                   0.46
S28865700001                        900.0                   2.38
S28869500001                        350.0                   0.92
S29339300091                        300.0                   0.79
S29050900001                         30.0                   0.08
S29049900001                        300.0                   0.79
S28868200001                        350.0                   0.92
S28869600001                        525.0                   1.39
S28866900001                        150.0                   0.40
S29050100001                        300.0                   0.79
S29049600001                        300.0                   0.79
S28868400001                        525.0                   1.39
S29196300002                        450.0                   1.19
S29134300126                        600.0                   1.59
S28869000001                        350.0                   0.92
Date                     datetime64[ns]
Store Number                      int64
Store Name                       object
Address                          object
City                             object
Zip Code                        float64
Store Location                   object
County Number                     int64
County                           object
Category                        float64
Category Name                    object
Vendor Number                     int64
Vendor Name                      object
Item Number                       int64
Item Description                 object
Pack                              int64
Bottle Volume (ml)                int64
State Bottle Cost               float64
State Bottle Retail             float64
Bottles Sold                      int64
Sale (Dollars)                  float64
Volume Sold (Liters)            float64
Volume Sold (Gallons)           float64
dtype: object